#_flat {
  margin: 16px auto;
  max-width: var(--page-max-width);
}

.edit-window {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  max-width: var(--page-max-width);
  z-index: 100;
  margin: 0px auto;
}

.mob-show {
  display: none;
}

.hover-card {
  padding: 8px;
  border-radius: var(--border-radius-small);
  transition: background 0.1s;
}

.hover-card:hover,
.hover-card:focus-visible,
.hover-card:focus {
  background-color: var(--color-neutral-2);
  cursor: pointer;
}

.router-link-active {
  color: rgb(var(--primary-5)) !important;
}

.sider-link {
  font-size: 1rem;
  padding: 8px 0px;
}

@media (max-width: 810px) {
  .mob-hidden {
    display: none !important;
  }

  .mob-show {
    display: inherit !important;
  }

  .grid-sider {
    display: none !important;
  }

  .grid-content {
    padding: 0px 1rem;
  }
}
