#_flat {
  margin: 16px auto;
  max-width: var(--page-max-width);
}

.edit-window {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  max-width: var(--page-max-width);
  z-index: 100;
  margin: 0px auto;
}
