.board-group {
  display: flex;
  flex-direction: column;
}

.board-group-item {
  padding: 4px 0px;
  margin-bottom: 4px;
  display: block;
  text-align: left;
  font-size: 1rem;
}

.board-group-item svg {
  margin-right: 4px;
}

.board-link {
  padding: 8px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.board-dot {
  width: 14px;
  height: 14px;
  border-radius: 4px;
  display: inline-block;
}
