.board-detail-main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.board-detail-intro {
  display: flex;
  height: 34px;
  align-items: end;
  justify-content: space-between;
}

.board-detail-opt {
  display: flex;
  gap: 4px;
  align-items: center;
}

.board-detail-name {
  font-size: 18px;
  font-weight: bolder;
}

.board-avatar {
  width: 90px;
  height: 90px;
}
