.grid-sider,
.grid-panels {
  position: relative;
}

.grid-sider-inner {
  position: sticky;
  top: 0px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.grid-content {
  flex-grow: 1;
  border: 1px solid var(--color-border);
  border-top: unset;
}

.grid-panels-inner {
  margin-top: var(--gap);
  position: sticky;
  top: 0px;
  width: 250px;
}
