.grid-sider,
.grid-panels {
  padding: var(--gap) 0px;
  position: relative;
}

.grid-sider-inner {
  position: sticky;
  top: 60px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.grid-main {
  flex-grow: 1;
  display: flex;
  gap: var(--gap);
}

.grid-content-inner {
  flex-grow: 1;
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}

.grid-panels-inner {
  margin-top: var(--gap);
  position: sticky;
  top: 60px;
  min-width: 250px;
}

@media (width <= 810px) {
  .grid-content-inner {
    border-left: unset !important;
    border-right: unset !important;
    margin-bottom: 52px;
  }
}
