.common-detail .n-image {
  width: 100%;
}

.common-detail-main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.common-detail-intro {
  display: flex;
  height: 34px;
  align-items: end;
  justify-content: space-between;
}

.common-detail-opt {
  display: flex;
  gap: 4px;
  align-items: center;
}

.common-detail-name {
  font-size: 1.2rem;
  font-weight: bolder;
}

.common-avatar {
  width: 90px;
  height: 90px;
}

#common-header-img {
  width: 100%;
}
