.grid-sider {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.grid-content {
  flex-grow: 1;
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}

.grid-panels {
  width: 250px;
}
