.discussion-list-item {
  display: flex;
  gap: 8px;
}

.discussion-avatar {
  width: 40px;
}

.discussion-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.discussion-content {
  font-size: 1rem;
}

.discussion-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
