.nav-container {
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg-2);
}

.nav {
  height: 48px;
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  max-width: var(--page-max-width);
  margin: 0px auto;
}

.nav-brand {
  text-decoration: none;
  display: flex;
  align-self: center;
}

.nav-brand h5 {
  margin: unset;
}

.nav-opt {
  display: flex;
  gap: 16px;
  align-items: center;
}

.user-menu .arco-dropdown {
  min-width: 300px;
  max-width: 40vw;
  padding: 8px !important;
}

.user-menu .arco-avatar {
  margin-right: 0.7rem;
}

.user-menu header {
  display: flex;
  padding: 8px 12px 0px 12px;
  margin-bottom: 12px;
}

.user-menu main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-menu-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-menu-info h5 {
  margin: unset;
}

.arco-avatar {
  aspect-ratio: 1 / 1;
}

.icon-link {
  padding: 4px;
  border-radius: 50%;
}

.icon-link:hover,
.icon-link:focus-within,
.icon-link:focus-visible {
  background-color: var(--color-fill-2);
  outline: none;
}

.menu-link .arco-dropdown-option-content {
  width: 100%;
}

.menu-link a,
.icon-link a {
  display: block;
}
