.navbar {
  z-index: 150;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  height: var(--nav-height);
  padding: 0px var(--gap);
  background-color: var(--color-bg-1);
  border-bottom: 1px solid var(--color-border);
}

.navbar-inner {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-sitename {
  display: flex;
  align-items: center;
}

.navbar-options {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-search {
  width: 500px;
}

.navbar .n-text {
  font-size: 20px;
  font-weight: bolder;
}

.navbar .site-logo {
  color: var(--theme-color);
}

.user-panel {
  width: 300px;
}

.user-panel-info {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--gap);

  b {
    font-size: 1rem;
  }
}
