.page-header {
  padding: 0px var(--gap);
  height: 52px;
  border-bottom: 1px solid var(--color-neutral-3);
  gap: 8px;
  display: flex;
  align-items: center;
}

.page-header div {
  font-size: 18px;
  margin: unset !important;
  font-weight: bolder;
  flex-grow: 1;
}
