.page-title {
  padding: var(--gap);
  padding-top: unset;
  border-bottom: 1px solid var(--color-neutral-3);
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.page-header div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.page-title h5 {
  margin: unset !important;
  font-weight: bolder;
}
