.editor {
  border-bottom: 1px solid var(--color-border);
}

.editor-toolbar {
  display: flex;
  gap: var(--gap);
  padding: var(--gap) 0px;
}

.editor-toolbar-float {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  overflow: scroll;
  background-color: var(--color-bg-1);
  padding-left: var(--gap);
}

.tiptap {
  outline: none;
  font-size: 1rem;
  min-height: 150px;
}

.tiptap p.is-editor-empty:first-child::before {
  color: var(--color-text-2);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

blockquote {
  padding: var(--gap);
  margin-left: 10px;
  border-left: 3px solid var(--color-fill-4);

  p {
    margin: unset;
  }
}
