/* FlatBBS Color Scheme */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-primary {
    @apply text-indigo-600 dark:text-indigo-400;
  }

  .text-content {
    @apply text-gray-900 dark:text-gray-300;
  }

  .bg-primary {
    @apply bg-indigo-600;
  }

  .bg-content {
    @apply bg-white dark:bg-black;
  }

  .border-primary {
    @apply border-indigo-600;
  }

  .border-content {
    @apply border-gray-300 dark:border-gray-700;
  }

  .border-form {
    @apply border-gray-500 dark:border-gray-700;
  }

  .outline-primary {
    @apply outline-indigo-600;
  }

  .route.router-link-exact-active {
    @apply text-primary;
  }

  .menu-item.router-link-exact-active {
    @apply bg-primary hover:bg-primary text-white;
  }

  .text-muted {
    @apply text-gray-500 dark:text-gray-400;
  }

  h1 {
    @apply text-xl md:text-2xl my-4 font-bold;
  }

  h2 {
    @apply text-lg md:text-xl my-4 font-bold;
  }

  p {
    @apply my-4;
  }

  p a {
    @apply text-primary underline;
  }

  p:has(img) {
    @apply flex flex-col items-center text-muted;
  }

  p:first-child {
    @apply mt-0;
  }

  p:last-child {
    @apply mb-0;
  }

  p ul {
    @apply list-disc pl-10 my-4;
  }

  p ol {
    @apply list-decimal pl-10 my-4;
  }

  blockquote {
    @apply p-3 ml-3 border-l-4 border-l-indigo-700;
  }

  p img {
    @apply sm:max-w-lg;
  }

  body {
    @apply text-content text-sm bg-white dark:bg-black;
  }
}

@layer components {
  .btn-primary {
    @apply rounded text-white bg-primary hover:bg-indigo-700 disabled:opacity-60 disabled:hover:opacity-60;
  }

  .btn-air {
    @apply rounded text-black bg-gray-100 hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-900 dark:text-white;

    &.danger {
      @apply bg-opacity-50 bg-red-200 text-red-600 hover:bg-opacity-70 dark:bg-opacity-50 dark:text-white dark:bg-red-400 dark:hover:bg-opacity-40;
    }
  }

  .btn-text {
    @apply rounded text-content hover:text-primary disabled:opacity-50;
  }

  .btn-text-active {
    @apply text-primary outline outline-2 outline-primary;
  }

  .btn-sm {
    @apply h-7 px-3;
  }

  .btn-md {
    @apply h-10 px-6;
  }

  .form {
    @apply flex flex-col;
  }

  .form-item {
    @apply flex flex-col gap-1;
  }

  .form-item-required {
    @apply text-red-600;
  }

  .form-item-error {
    @apply text-red-600;
  }

  .input {
    @apply border border-form rounded h-10 px-2 flex;

    &:focus-within {
      @apply border-primary;
    }
  }

  .input-status-error {
    @apply !border-red-600;
  }

  .input-widget {
    @apply grow text-base;
  }

  .navbar {
    @apply z-10 flex items-center sticky top-0 bg-content border-bt justify-center;
  }

  .mobile-navbar {
    @apply border-tp bg-content h-navbar fixed left-0 right-0 bottom-0 flex justify-around items-center;
  }

  .h-navbar {
    @apply h-[52px];
  }

  .menu-item {
    @apply flex items-center gap-2 btn-md rounded hover:bg-gray-200;
  }

  .page-title {
    @apply h-navbar sticky top-0 px-3 bg-content flex items-center justify-between z-20 md:static;
  }

  .message-container {
    @apply fixed top-6 z-50 w-full flex flex-col gap-2 items-center h-0 text-black;
  }

  .main-content {
    @apply flex gap-3 my-0 mx-auto w-full-page;
  }

  .main-content-aside {
    @apply sticky top-navbar min-w-[250px];
  }

  .main-content-body {
    @apply relative grow mb-14;
  }

  .modal {
    @apply h-full w-full fixed z-40 top-0 transition-all;
  }

  .modal-wrapper {
    @apply h-full w-full absolute flex flex-col items-center top-0 justify-center;
  }

  .modal-inner {
    @apply bg-content flex flex-col rounded shadow;
  }

  .modal-header {
    @apply p-3 border-bt flex justify-between;
  }

  .modal-body {
    @apply p-3;
  }

  .tabs {
    @apply py-3 border-bt;
  }

  .tab-item {
    @apply text-base px-3;
  }

  .tab-item.router-link-exact-active {
    @apply text-primary;
  }

  .item:not(:last-child) {
    @apply border-bt;
  }

  .btn,
  button {
    @apply whitespace-nowrap inline-flex justify-center items-center gap-1;
  }

  button:disabled {
    @apply cursor-not-allowed;
  }

  input,
  select,
  option {
    @apply bg-content outline-0 [color-scheme:light] dark:[color-scheme:dark];
  }
}

@layer utilities {
  .border-bt {
    @apply border-b border-content;
  }

  .border-tp {
    @apply border-t border-content;
  }

  .w-full-page {
    max-width: 1000px;
  }

  .top-navbar {
    top: 52px;
  }
}

.cropper-wrapper {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
}

.cropper-mask {
  border-radius: 50%;
  box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.3);
  position: absolute;
  border: 1px dashed white;
  box-sizing: border-box;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  touch-action: none;
}

/** Editor */
.tiptap {
  outline: none;
  font-size: 1rem;
  min-height: 100px;

  &:focus {
    outline: none;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  opacity: 0.6;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror-selectednode {
  @apply outline outline-2 outline-primary;
}

/** Transitions */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.modal-enter-from {
  opacity: 0;
}

.modal-leave-to {
  opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
