.topic-list-item {
  padding-left: var(--gap) !important;
  padding-right: var(--gap) !important;
}

.topic-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.topic-title {
  font-size: 16px;
  margin-bottom: 4px;
}

.topic-title:hover {
  color: var(--theme-color);
}

.topic-footer {
  display: flex;
  justify-content: space-between;
}
