:root {
  --page-max-width: 1024px;
}

body {
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

kbd {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-neutral-3);
  border-radius: var(--border-radius-medium);
  padding: 2px;
  text-align: center;
}

#flatbbs {
  margin: 12px auto;
  max-width: var(--page-max-width);
}

.edit-window {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  max-width: var(--page-max-width);
  z-index: 100;
  margin: 0px auto;
}

.mob-show {
  display: none;
}

/* 通用 hover 效果 */
.hover-card {
  padding: 8px;
  border-radius: var(--border-radius-small);
}

.hover-card:hover,
.hover-card:focus-visible {
  background-color: var(--color-primary-light-1);
  cursor: pointer;
}

/* 路由高亮 */
.link.router-link-exact-active {
  color: rgb(var(--primary-5)) !important;
}

/* 侧边栏 */
.sider-link {
  font-size: 1rem;
  padding: 8px 0px;
}

.sider-link svg {
  margin-right: 4px;
}

.sider-group {
  padding: 4px 0px;
}

/* 页面元素 */
.page-header {
  padding: 0px 12px;
  margin-bottom: 12px;
}

.page-header h4 {
  margin: unset !important;
}

.page-chunk {
  padding: 0px 12px;
}

/* 原子类 */
.row-center {
  display: flex;
  justify-content: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

@media (max-width: 810px) {
  .nav {
    padding: 0px 12px;
  }
  .mob-hidden {
    display: none !important;
  }

  .mob-show {
    display: inherit !important;
  }

  .grid-sider {
    display: none !important;
  }

  .grid-panels {
    display: none;
  }
}
