:root {
  --page-max-width: 900px;
  --gap: 12px;
}

input {
  border: none;
  outline: none;
  color: currentColor;
  background: transparent;
}

img {
  &.ProseMirror-selectednode {
    outline: 2px solid indigo;
  }
}

.grid-main-panels-inner {
  margin-top: var(--gap);
  position: sticky;
  top: 60px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.cropper-wrapper {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
}

.cropper-mask {
  border-radius: 50%;
  box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.3);
  position: absolute;
  border: 1px dashed white;
  box-sizing: border-box;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  touch-action: none;
}

.user-panel {
  width: 256px;
}

.mobile-nav {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 52px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page-title {
  position: static;
  top: 0px;
  height: 52px;
  background-color: transparent;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px var(--gap);
}

.editor-toolbar {
  display: flex;
  gap: var(--gap);
  padding: var(--gap) 0px;
}

.editor-toolbar-float {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  overflow: scroll;
  background-color: var(--color-bg-1);
  padding-left: var(--gap);
}

.tiptap {
  outline: none;
  font-size: 1rem;
  min-height: 150px;
}

.tiptap p.is-editor-empty:first-child::before {
  opacity: 0.6;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

@media (width <= 810px) {
  .page-title {
    position: sticky;
    background-color: var(--color-bg-1);
    border-bottom: 1px solid var(--color-border);
  }
}
