:root {
  --page-max-width: 1100px;
  --gap: 12px;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  border: none;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  color: currentColor;
  background: transparent;
}

textarea {
  border: none;
  outline: none;
  background: transparent;
  caret-color: var(--theme-color);
  color: inherit;
  font-family: ui-sans-serif;
  padding: var(--gap);
  resize: none;
}

#flatbbs {
  margin: 0px auto;
  max-width: var(--page-max-width);
  display: flex;
  gap: var(--gap);
}

.observe-target {
  height: 6px;
  width: 100%;
}

/* 通用 hover 效果 */
.hover-card {
  padding: 3px;
  border-radius: var(--border-radius-small);
}

.hover-card:hover,
.hover-card:focus-visible {
  background-color: var(--color-primary-light-1);
  cursor: pointer;
}

/* 路由高亮 */
.link.router-link-exact-active {
  color: var(--theme-color) !important;
}

/* 侧边栏 */
.sider-link {
  font-size: 1rem;
  height: 33px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sider-group {
  margin-top: var(--gap);
}

/* 页面元素 */
.panel-chunk {
  margin: var(--gap) 0px;
}

/* 原子类 */
.row-center {
  display: flex;
  justify-content: center;
  margin: 12px 0px;
}

.text-center {
  text-align: center;
}

.item {
  padding: var(--gap);
  border-bottom: 1px solid var(--color-border);
}

/* 移动端导航栏 */
.mobile-nav {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 53px;
  background-color: var(--color-bg-2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

/* 导航栏Logo */
.site-brand {
  height: 53px;
  display: flex;
  align-items: center;
}

.site-logo {
  fill: currentColor;
  height: 28px;
  aspect-ratio: 1 / 1;
  margin-right: 8px;
}

@media (max-width: 810px) {
  #flatbbs {
    gap: unset;
  }

  .grid-content {
    border-left: unset !important;
    border-right: unset !important;
    margin-bottom: 53px;
  }
}
