:root {
  --page-max-width: 960px;
}

body {
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
}

.arco-avatar {
  cursor: pointer;
}

.mob-hidden {
  display: none;
}

kbd {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-neutral-3);
  border-radius: 4px;
  padding: 2px;
  text-align: center;
}

fieldset {
  border: 1px solid var(--color-neutral-3);
}

legend {
  font-size: 1rem;
  color: var(--color-text-1);
}

@media (max-width: 576px) {
  .nav-opt .arco-input-wrapper {
    display: none;
  }

  .mob-hidden {
    display: inherit !important;
  }

  .grid-sider {
    display: none !important;
  }

  .grid-content {
    padding: 0px 1rem;
  }
}
