.mob_hidden {
  display: none !important;
}
:root {
  --page-max-width: 960px;
}

@media (max-width: 576px) {
  .nav-opt .arco-input-wrapper {
    display: none;
  }

  .mob_hidden {
    display: block !important;
  }
}
